body {
  height: 100vh;
}

ol.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
}

.selectable:hover {
  cursor: pointer;
  filter: brightness(95%);
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

tr > td:first-child {
  border-left: none;
  text-align: right;
}

thead {
  font-weight: bold;
}

.axisY {
  position: absolute;
  left: 0%;
  top: 50%;
  rotate: -90deg;
}

.axisX {
  position: absolute;
  left: 20%;
  bottom: 0%;
}

.refresh:hover {
  cursor: pointer;
  color: #007bff;
  transition: 0.3s ease-in-out;
}
